extends ../index.pug

block maincontent
  .simple-page
    h1 Добро пожаловать в GOODSOAP!
    p
      | GOODSOAP - это интернет-магазин натуральной и органической косметики проверенных торговых марок. Мы позаботились
      | о том, чтобы сделать уход за собой простым, эффективным и безопасным. Для своих клиентов мы выбираем только те
      | продукты, которые используем сами и в качестве которых у нас нет причин сомневаться.
      | Мы протестировали и отобрали для вас наилучшие составы, которые прекрасно комбинируются друг с другом и
      | позволяют достигать желаемых результатов без лишних усилий и неоправданных затрат. Но основным критерием выбора
      | для нас всегда будет качество косметического продукта: безопасность сырья, отсутствие тяжелых компонентов,
      | действенные рецепты и эффективные композиции натуральных элементов.
      | В каталоге GOODSOAP - только проверенные средства из экологически безопасных ингредиентов:
    br
    ul
      li шампуни на мягких ПАВ (без SLS/SLES)
      li средства для волос без силиконов
      li мыло ручной работы на свежем козьем молоке
      li кремы без минеральных масел
      li деликатные средства для умывания
      li органические тонирующие средства
      li натуральные дезодоранты
      li фито- и арома-составы для ванн
      li мицеллярные и цветочные воды
      li 100% натуральные окрашивающие составы на основе хны
      li эфирные и базовые масла
    br
    p
      | Высочайшее качество и абсолютную безопасность косметических продуктов гарантируют наши поставщики - российские и
      | международные компании-производители натуральной /органической косметики: Мастерская Олеси Мустаевой (Россия),
      | Weleda (Швейцария), Mi&Ko (Россия), DeoNat (Таиланд), Jurassic Spa (Россия), и другие.
      | Быть красивой с GOODSOAP - очень просто!
