extends ../index.pug

block maincontent
  .simple-page
    h1
      | Магазин натуральной косметики
      span.green-text GOOD
      | SOAP
    p
      img(src='/resources/images/maintext.png')
      | Быть красивой с GOODSOAP - очень просто!
      br
      br
      |             Выбирайте продукты для лица, волос и тела из нашего каталога, добавляйте их в корзину и не забудьте оставить
      |             контактные данные. Об остальном позаботимся мы! В Туле действует бесплатная доставка при заказе от 1000 рублей,
      |             по России – от 2500 рублей.
