extends ../index.pug

block maincontent
  .simple-page
    h1 Контакты
    p
      | Свяжитесь с нами по телефону 8 (920) 771-26-08 или электронной почте mail@gsoap.ru для консультации и уточнения
      | любых вопросов.
    br
    h2 Режим работы
    br
    p
      | Интернет-магазин GOODSOAP работает с понедельника по субботу 10.00 до 19.00. Воскресенье и праздничные дни -
      | выходной.