extends ../index.pug

block maincontent
  .simple-page.delivery-page
    h1 Доставка
    .left-info-container
      h2 По Туле
      |         при заказе от 1000 рублей
      br
      span.free-delivery-text Доставка БЕСПЛАТНО
      br
      br
      |         При заказе на сумму менее 1000 руб.
      br
      b Пункты самовывоза:
      br
      |         - Проспект Ленина (ост. Гоголевская)
      br
      |         - Улица Токарева (Заречье)
    .right-info-container
      h2 По России
      |         При заказе от 2500 рублей
      br
      span.free-delivery-text Доставка БЕСПЛАТНО
      br
      br
      |         При заказе на сумму менее 2500 руб.
      br
      b Стоимость доставки: 250р
      br
      |         Почтой России по предоплате (реквизиты высылаются после оформления заказа)
