.admin-main-container .form-group {
    overflow: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
}

.admin-main-container .top-menu-button {
    margin: 10px 5px;
}

.admin-main-container .product-image,
.admin-main-container .brand-image,
.admin-main-container .upload-input {
    margin: 5px auto;
}

.admin-main-container .product-image,
.admin-main-container .brand-image {
    display: block;
    width: 300px;
    height: 200px;
}

.admin-main-container .edit-icon {
    background-position-x: -48px;
}

.admin-main-container .delete-icon {
    background-position-x: -96px;
}

/* Lists */
.admin-main-container .admin-product-list,
.admin-main-container .admin-order-product-list {
    border-collapse: collapse;
    text-align: center;
}

.admin-main-container .admin-product-list tr td,
.admin-main-container .admin-brand-list tr td,
.admin-main-container .admin-button-filter-list tr td,
.admin-main-container .admin-order-list tr th,
.admin-main-container .admin-order-list tr td,
.admin-main-container .admin-order-product-list tr th,
.admin-main-container .admin-order-product-list tr td {
    padding: 5px 10px;
}

.admin-main-container .admin-product-list img,
.admin-main-container .admin-brand-list img,
.admin-main-container .admin-order-product-list img {
    height: 70px;
}

.admin-main-container .admin-product-list tr .product-name,
.admin-main-container .admin-brand-list tr td.brand-name,
.admin-main-container .admin-button-filter-list tr td.buttonfilter-name,
.admin-main-container .admin-brand-list tr .product-name,
.admin-main-container .admin-order-product-list tr .product-name {
    font-weight: bold;
}

.admin-main-container .admin-product-list tr td.product-name,
.admin-main-container .admin-product-list tr td img,
.admin-main-container .admin-product-list tr td.product-brand,
.admin-main-container .admin-brand-list tr td img,
.admin-main-container .admin-brand-list tr td.brand-name,
.admin-main-container .admin-button-filter-list tr td.buttonfilter-name {
    cursor: pointer;
}
/* /Lists */

.admin-main-container .multi-rows-container {
    overflow: auto;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.admin-main-container .multi-rows-container.bought-together-combos-container {
    overflow: initial;
}

.admin-main-container .capacity-list-container .capacity-input,
.admin-main-container .capacity-list-container .price-input {
    width: 48%;
}

.admin-main-container .capacity-list-container .capacity-input {
    float: left;
}

.admin-main-container .capacity-list-container .price-input {
    float: right;
}

.admin-main-container .delete-button {
    position: absolute;
    top: 8px;
    right: 40px;
    cursor: pointer;
    background-position-x: -112px;
}

.admin-main-container .bought-together-combo {
    height: 30px;
}

.admin-main-container .property-select {
    margin-bottom: 5px;
}

.admin-main-container .review-container,
.admin-main-container .review-container .form-control {
    margin-bottom: 5px;
}

.admin-main-container .filter-info-container {
    margin-bottom: 40px;
}

.admin-main-container .filter-container {
    margin-bottom: 20px;
}

.admin-main-container .filter-container,
.admin-main-container .filter-container .filter-properties-container {
    margin: 20px 0 20px 30px;
}