/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus{
    outline: 0;
}
/* /Reset CSS */

/* Museo font */
@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* /Museo font */

/* Noto font */
@font-face {
    font-family: "NotoSansRegular";
    url("../fonts/NotoSans/notosans.woff") format("woff"),
    url("../fonts/NotoSans/notosans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansBold";
	url("../fonts/NotoSans/notosansbold.woff") format("woff"),
    url("../fonts/NotoSans/notosansbold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
/* /Museo font */

body {
	font-family: 'NotoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	background: url('../resources/images/main-background.png') #F7F7F7 no-repeat;
	background-size: contain;
}

@media (max-width: 768px) {
	body {
		font-size: 12px;
	}
}

b,
strong {
	font-weight: bold;
}

a,
a:visited,
a:active {
	color: #8AA108;
	cursor: pointer;
}
h1 {
	font-size: 2em; /* 26 / 13 */
}

h2 {
	font-size: 1.230769em; /* 16 / 13 */
	font-weight: bold;
}

h3 {
	font-size: 1.153846em; /* 15 / 13 */
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

button,
button:hover,
button:focus,
button:active	 {
	padding: 0;
	border: none;
	background: none;
	outline:none;
}

select,
input,
textarea {
	border: 2px solid #A5B73F;
}

img {
	max-width: 100%;
}

ul {
	list-style-image: url('../resources/images/icons/list-arrow-separator.png');
}

.invalid {
	color: red;
}

.valid {
	color: #8AA108;
}

.invisible {
	visibility: hidden;
}

.page {
	width: 90.163934%; /* 1100 / 1220 */
	margin: 1.615384em auto 0; /* 21 / 13 */
}

@media (max-width: 1024px) {
	.page {
		width: 92.773437%; /* 950 / 1024 */
	}

}

.product-fly-icon {
	height: 2em; /* 26 / 13 */
	min-height: 16px;
}

/* Header */
.header {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	margin: 0 auto;
	background-color: white;
	line-height: 1em;
}

.header > div {
	overflow: hidden;
}

.header .logo,
.header .shop-name {/**/
	float: left;
}

@media (max-width: 768px) {
	.header .shop-name {
		display: none;
	}
}

.header .phone-block,
.header .cart-text,
.header .cart-image {
	float: right;
}

.header .logo {
	height: 3em;
	margin-right: 5.957446%; /* 56 / 940 */
}

.header .phone-block {
	margin-right: 3.404255%; /* 32 / 940 */
	line-height: 1.3em;
}

.header .phone-block .phone {
	font-size: 1.384615em; /* 18 / 13 */
}

.header .cart-image {
	margin-right: 1.382978%; /* 13 / 940 */
	height: 2.461538em; /* 32 / 13 */
	cursor: pointer;
}

.header .cart-text {
	line-height: 1.384615em; /* 18 / 13 */
}

.header .cart-text a {
	text-decoration: underline;
}

.header .cart-text .cart-info {
	font-size: 1.076923em; /* 14 / 13 */
}

.navigation-menu {
	margin: 1.461538em 0; /* 19 / 13 */
	overflow: hidden;
}

.navigation-menu li {
	float: right;
	margin-left: 2.446808%; /* 23 / 940 */
}

.products-menu {
	font-size: 1.384615em; /* 18 / 13 */
	margin-bottom: 3em; /* 18 * 1.5 * 2 / 18*/
	font-weight: bold;
	list-style: none;
}

@media (max-width: 960px) {
	.products-menu {
		font-size: 1.076923em; /* 14 / 13 */
	}
}

.products-menu > li {
	float: left;
	margin-right: 4.042553%; /* 38 / 940 */
	margin-bottom: 0.5em; /* 9 / 18 */
}

.products-menu > li .caret-icon {
	display: inline-block;
	width: 9px;
	height: 6px;
	margin-left: 19px;
	background: url('../resources/images/icons/caret.png') no-repeat;
}

.products-menu > li.open button {
	visibility: hidden;
}

.products-menu a {
	color: black;
}

.products-menu .dropdown-menu {
	font-size: 1em; /* override bootstrap */
	background: none;
	top: 1.444444em; /* 26 / 18 */
	left: -1.111111em; /* 20 / 18 */
	margin: 0;
	padding: 0;
	border: none;
}

.products-menu .dropdown-menu .caret-icon {
	background: url('../resources/images/icons/caret-green.png');
}

.products-menu .dropdown-menu li:first-child {
	font-size: 1em; /* 18 / 18 */
	padding: 0.5em 1.055555em; /* 18 / 18 / 2, 19 / 18 */
	margin-top: -2em; /* 36 / 18 */
	border-top-width: 0.055555em; /* 1 / 18 */
	color: #8AA108;
}

.products-menu .dropdown-menu li {
	position: relative;
	font-size: 0.722222em; /* 13 / 18 */
	padding: 1.384615em 1.461538em; /* 18 / 13 / 2, 19 / 13 */
	white-space: nowrap;
	border-color: #E6E6E6;
	border-style: solid;
	border-width: 0 0.055555em; /* 1 / 18 */
	cursor: pointer;
}

.products-menu .dropdown-menu li:last-child {
	border-bottom-width: 0.055555em; /* 1 / 18 */
}

.products-menu .dropdown-menu li a {
	padding: 0;
	margin: 0;
}

.products-menu .dropdown-menu li .mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.8;
	z-index: -1;
}
/* /Header */

/* Carousel */
.carousel-wrapper {
    position: relative;
	background: white;
}

.carousel-wrapper .carousel {
    height: 30.230769em; /* 393 / 13 */
}

.carousel-wrapper .carousel img {
	width: 100%;
	height: 100%;
	max-width: 1220px;
	display: block;
	margin: 0 auto;
}

.carousel-wrapper .rn-carousel-controls .rn-carousel-control {
    bottom: 10px;
    top: initial;
    opacity: 0.25;
}

.carousel-wrapper .rn-carousel-controls .rn-carousel-control:hover {
    opacity: 1;
}

.carousel-wrapper .rn-carousel-controls .rn-carousel-control:before {
    color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    background: white;
    text-align: center;
}
/* /Carousel */

/* Advantages panel */
.advantages-panel {
	padding: 1.153846em 7.272727%; /* 15 / 13, 80 / 1100 */
	margin: 0 auto;
	text-align: center;
	background: white;
}

.advantages-panel li:first-child {
	text-align: left;
	float: left;
}

.advantages-panel li {
    display: inline-block;
	text-align: left;
	width: 24%; /* 1 / 4 - 1% */
	height: 2.307692em; /* 30 / 13 */
	text-align: inherit;
}

.advantages-panel li:last-child {
	text-align: right;
	float: right;
}

.advantages-panel li > * {
	display: inline-block;
	height: 2.307692em; /* 30 / 13 */
}

.advantages-panel li p {
	vertical-align: top;
	text-align: left;
	line-height: 1.153846em; /* 15 / 13 */
}

@media (max-width: 960px) {
	.advantages-panel li,
	.advantages-panel li:first-child,
	.advantages-panel li:last-child,
	.advantages-panel li p,
	.advantages-panel li:first-child p,
	.advantages-panel li:last-child p {
		text-align: center;
	}

	.advantages-panel li > img {
		display: block;
		margin: 0 auto;
	}
}
/* /Advantages panel */

/* Main page */

/* Products Container */
.products-container {
	padding: 0 6.272727% 2.692307em; /* (80 - 22 / 2)  / 1100, 35 / 13 */
	margin: 0 auto;
	overflow: auto;
}

.products-list-search-input {
	margin-top: 1em; /* 13 / 13 */
	margin-left: 7.272727%; /* 80 / 1100 */
	width: 27.272727%; /* 300 / 1100 */
}

.bought-together-container .products-container,
.bought-together-container .products-container .product-container,
.bought-together-container .products-container .product-container .product-buy-button-container {
	background: none;
}

.product-container {
	width: 22.557172%; /* 217 / 962 */
	margin: 0.923076em 1.143451%; /* 24 / 2 / 13 , 22 / 2 / 962 */
	float: left;
	text-align: center;
	background-color: white;
	position: relative;
}

@media (max-width: 1024px) {
	.products-container {
		padding: 0 7.263157% 2.692307em; /* (80 - 22 / 2)  / 950, 35 / 13 */
	}

	.product-container {
		width: 31.017543%; /* (950 - 22 * 3) / 3 / 950*/
		margin: 0.923076em 1.157894%; /* 24 / 2 / 13 , 22 / 2 / 950 */
	}
}

.product-container img {
	height: 13.846153em; /* 180 / 13 */
	cursor: pointer;
	margin: 0 auto;
}

.product-container .product-name {
	display: block;
	height: 3.692307em; /* 16 * 3 / 13 */
	line-height: 1.230769em; /* 16 / 13 */
	margin: 4.207119% 9.677419%; /* 13 / 209, 21 / 217 */
	color: black;
	cursor: pointer;
}

.product-container .product-price {
	font-size: 1.307692em; /* 17 / 13 */
	margin: 4.147465% auto; /* 9 / 217 */
}

.product-container .product-capacity {
	margin: 1.382488% auto 8.75576%; /* 3 / 217, 19 / 217 */
	white-space: nowrap;
	list-style-type: none;
}

.product-container .product-capacity li {
    display: inline;
}

.product-container .product-capacity li:before {
	content: '•';
}

.product-container .product-capacity li:first-child::before {
	content: '';
}

.product-container .product-capacity button {
	text-decoration: underline;
}

.product-container .product-capacity button.selected {
	text-decoration: none;
	cursor: pointer;
	color: #8AA108;
}

.product-container .product-buy-button-container {
	display: none;
	padding-bottom: 1.153846em; /* 15 / 13 */
	margin-top: -0.384615em; /* 5 / 13 */
	position: absolute;
	background: white;
	width: 100%;
	z-index: 1;
}

.mobile .product-container .product-buy-button-container {
	position: inherit;
	display: block;
	margin: 0;
}

.product-container:hover .product-buy-button-container {
	display: block;
}

.product-container .product-buy-button-container button {
	height: 2.846153em; /* 37 / 13 */
	width: 59.907834%; /* 130 / 217 */
	max-width: 130px;
	border: 2px solid #8AA108;
	border-radius: 1.423076em; /* height / 2 */
	color: #8AA108;
	cursor: pointer;
}

.product-container .product-buy-button-container img {
	padding-right: 0.846153em; /* 11 / 13 */
}

.product-container .product-buy-button-container img,
.product-container .product-buy-button-container span {
	height: 1.384615em; /* 18 / 13 */
	vertical-align: middle;
}

.page-control {
	padding: 0 7.272727%; /* 80 / 1100 */
}

.page-control .pagination>li>a {
	color: black;
	border: none;
	border-radius: 0;
}

.page-control .pagination>.active>a {
	color: white;
	background-color: #9FAC28;
}
/* /Products Container */

/* Subscribe block */
.subscribe-block-wrapper {
	background: white;
}

.subscribe-block {
	background: url('../resources/images/main-background.png') #F7F7F7 no-repeat;
	background-color: white;
	background-position-y: -290px;
	padding: 3.191489% 2em; /* 30 / 940, 26 / 13 */
}

.subscribe-block > * {
	display: inline-block;
}

.subscribe-block p {
	background: white;
	line-height: 1.153846em; /* 45 / 3 /13 */
}

.subscribe-block .input-container {
	float: right;
	position: relative;
	width: 42.553191%; /* 400 / 940 */
}

.subscribe-block .input-container input {
	height: 3.846153em; /* 50 / 13 */
	border-radius: 1.923076em; /* 25 / 13 */
	padding: 0 14.5%; /* 58 / 400 */
	width: 100%;
}

.subscribe-block .input-container img {
	position: absolute;
	left: 5.75%; /* 23 / 400 */
	top: 1.615384em; /* 21 / 13 */
}

.subscribe-block .input-container button {
	position: absolute;
	right: 5.75%; /* 23 / 400 */
	top: 1em; /* 13 / 13 */
	height: 2em; /* 26 / 13 */
	width: 2em; /* == height */
	border-radius: 1em; /* 26 / 2 /13 */
	background: #9AAB27;
	color: white;
	cursor: pointer;
}

.subscribe-block .input-container button[disabled] {
	color: #CCCCCC;
	background: #FBFFE4;
	cursor: pointer;
}
/* /Subscribe block */


/* Footer */
.footer {
	width: 100%;
	padding: 0 4.9180327%; /* 60 / 1220 */
	background: white;
	overflow: auto;
}

.main-text,
.subscribe-block-wrapper {
	padding: 2.461538em 12.727272%; /* 32 / 13, (60 + 80) / 1100 */
	margin: 0 -5.454545%; /* 120 / 2 / 1100 */
	overflow: auto;
	background: white;
}

.main-text h1 {
	margin-bottom: 0.384615em; /* 10 / 26 */
}

.main-text .green-text {
	color: #8AA108;
}

.main-text img {
	float: left;
	margin: 2.857142%; /* 28 / 980 */
}

.main-text p {
	line-height: 1.846153em; /* 24 / 13 */
}

.footer .info-container {
	padding: 3.615384em 7.272727%; /* 47 / 13, 80 / 1100 */
	width: 100%;
	overflow: auto;
	background: #FDFFEA;
}

.footer .info-container > div {
	float: left;
	width: 25%;
}

.footer .info-container ul {
	padding-left: 0.923076em; /* 12 / 13 */
}

.footer .info-container .navigation-menu {
	margin: 0;
}
/* /Footer */

/* /Main page */


/* Product card */
.product-card {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	background: white;
	overflow: auto;
}

.product-card > img {
	width: 33.829787%; /* 318 / 940 */
	margin-right: 5.957446%; /* 56 / 940 */
	border: 1px solid #E9F1BE;
	float: left;
}

.product-card .control-panel {
	height: 2.846153em; /* 37 / 13 */
	line-height: 2.846153em;/**/ /* 37 / 13 */
	margin-top: 2.076923em; /* 27 / 13 */
}

.product-card .control-panel > * {
	vertical-align: middle;
}

.product-card .control-panel b {
	font-size: 1.846153em; /* 24 / 13 */
}

.product-card select,
.product-card input {
	height: 67.567567%; /* 25 / 37 */
	width: 5.319148%; /* 50 / 940 */
	min-width: 50px;
}

.product-card .product-buy-button,
.product-card .send-review-container button {
	width: 19.787234%; /* 186 / 940 */
	min-width: 90px;
	max-width: 150px;
	height: 2.846153em; /* 37 / 13 */
	border: 1px solid #F7FFC6;
	padding: 0 0.769230em; /* 10 / 13 */
	background: #F7FFC6;
	color: #869804;
	border-radius: 1.423076em; /* height / 2 */
	white-space: nowrap;
	cursor: pointer;
}

.product-card .product-buy-button > * {
	display: inline-block;
	vertical-align: middle;
}

.product-card .product-buy-button img {
	height: 1.384615em; /* 18 / 13 */
	margin-right: 2.688172%; /* 5 / 186 */
}

.product-card .old-price {
	font-size: 1.153846em; /* 15 / 13 */
	color: #959595;
	text-decoration: line-through;
}

.product-card .tab-control {
	list-style: none inside;
	overflow: auto;
	margin-top: 2.230769em; /* 29 / 13 */
}

.product-card .tab-control li {
	width: 25%; /* 100 / 4 */
	display: block;
	border-bottom: 2px solid #849D01;
	float: left;
	white-space: nowrap;
	text-decoration: underline;
	color: #8F8F8F;
	text-align: center;
	padding-top: 1em; /* 13 / 13 */
	padding-bottom: 0.846153em; /* 11 / 13 */
	cursor: pointer;
}

.product-card .tab-control li.selected {
	border: 0.153846em solid #849D01; /* 2 / 13 */
	padding-top: 1em; /* 13 / 13 */
	border-bottom: none;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.product-card p {
	margin-top: 2em; /* 26 / 13 */
}

.product-card .reviews-container {
	padding-top: 0.384615em; /* 5 / 13 */
	clear: both;
}

.product-card .send-review-container,
.product-card .no-send-review-message {
	border-top: 1px solid #A5B73F;
}

.product-card .send-review-container,
.product-card .send-review-container > * {
	margin-top: 0.769230em; /* 10 / 13 */
	display: block;
}

.product-card .send-review-container input {
	width: 21.2765%; /* 200 / 940 */
}

.product-card .send-review-container textarea {
	width: 100%;
}

.product-card .no-send-review-message {
	padding-top: 0.769230em; /* 10 / 13 */
}

.bought-together-header {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
}
/* /Product card */

/* Cart page */
.no-products-in-cart-text,
.cart-page {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	background: white;
	overflow: auto;
}

.no-products-in-cart-text {
	font-size: 1.538461em; /* 20 / 13 */
}

.cart-page h2 {
	margin: 0.7333333em 0; /* 11 / 15 */
}

.products-grid {
	margin-top: 0.769230em; /* 10 / 13 */
	width: 100%;
}

.products-grid tr {
	border-bottom: 2px solid #E7E6E2;
}

.products-grid:not(.without-header) tr:first-child {
	border: none;
}

.products-grid th {
	background: #D0CFCD;
}

.products-grid th:last-child {
	background: #E1E0DE;
}

.products-grid th,
.products-grid td {
	padding: 0.923076em 1.914893%; /* 12 / 13, 18 / 940 */
}

.products-grid td.total-price {
	width: 14.893617%; /* 140 / 940 */
}

.products-grid td a {
	text-decoration: underline;
}

.products-grid td input {
	width: 4.384615em; /* 57 / 13 */
}

.products-grid td .delete-button {
	width: 0.692307em; /* 9 / 13 */
	height: 0.692307em; /* 9 / 13 */
	background: url('../resources/images/icons/delete.png') no-repeat;
	background-size: cover;
	float: right;
	cursor: pointer;
}

.products-grid td:first-child img {
	height: 1.615384em; /* 21 / 13 */
	padding-right: 0.769230em; /* 10 / 13 */
	vertical-align: middle;
}

.cart-page .left-order-container {
	width: 50%; /* 470 / 940 */
	float: left;
	padding-right: 8.510638%; /* 80 / 940 */
}

.cart-page .left-order-container input,
.cart-page .left-order-container select,
.cart-page .left-order-container textarea {
	width: 100%;
	height: 2.615384em; /* 34 / 13 */
	margin: 0.461538em 0; /* 12 / 2 / 13 */
	text-indent:  1.860465%; /* 16 / 860 */
	display: block;
}

.cart-page .left-order-container textarea {
	padding: 0.769230em 0; /* 10 / 13 */
}

.cart-page .left-order-container textarea {
	resize: none;
	height: 6.846153em; /* 89 / 13 */
}

.cart-page .right-order-container {
	width: 50%; /* 470 / 940 */
	float: right;
}

.cart-page .right-order-container > label {
	display: block;
	width: 100%;
	background: #FBFFE4;
	padding: 1em 4.893617%; /* 13 / 13, 23 / 470 */
	margin-top: 0.461538em; /* 12 / 2 / 13 */
	cursor: pointer;
}

.cart-page .right-order-container > label > input {
	display: none;
}

.cart-page .right-order-container > label > p {
	padding-left: 7.547169%; /* 32 /  424 */
	background: url('../resources/images/icons/radiobutton.png') no-repeat;
}

.cart-page .right-order-container > label.selected > p {
	background: url('../resources/images/icons/radiobutton-selected.png') no-repeat;
}

.cart-page .submit-button {
	float: right;
	clear: both;
	color: white;
	border: 1px solid #9AAC26;
	background: #9AAC26;
	height: 2.846153em; /* 37 / 13 */
	width: 16.808510%; /* 158 / 940 */
	border-radius: 2em; /* 52 / 13 / 2 */
}

.cart-page .submit-button[disabled] {
	color: #CCCCCC;
	background: #FBFFE4;
}
/* /Cart page */

/* Simple page */
.simple-page {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	margin: 0 auto;
	line-height: 1.317692em; /* 17 / 13 */
	background-color: white;
	overflow: hidden;
}

.simple-page h1 {
	margin: 1.384615em 0; /* 36 / 26 */
}

.simple-page p {
	text-indent: 10px;
}
/* /Simple page */

/* Delivery page */
.delivery-page .free-delivery-text {
	display: inline-block;
	background: #98AF19;
	color: white;
	padding: 0 0.307692em; /* 4 / 13 */
}

.delivery-page .left-info-container,
.delivery-page .right-info-container {
	display: block;
	width: 50%; /* 470 / 940 */
	padding-left: 8.510638%; /* 80 / 940 */
	line-height: 1.5em;
}

.delivery-page .left-info-container {
	float: left;
	background: url('../resources/images/icons/delivery-tula.png') no-repeat;
}

.delivery-page .right-info-container {
	float: right;
	background: url('../resources/images/icons/delivery-russia.png') no-repeat;
}
/* /Delivery page */

/* Brands page */
.brands-page {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	margin: 0 auto;
	background: white;
}
.brands-page .brand-container {
	width: 100%;
	overflow: hidden;
	margin: 0.923076em 0; /* 12 / 13 */
}

.brands-page .brand-container img {
	width: 21.276595%; /* 200 / 940 */
	float: left;
}
/* /Brands page */

/* Brand card */
.brand-card {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	background: white;
	overflow: auto;
}

.brand-card .brand-info {
	overflow: hidden;
}

.brand-card .brand-info img {
	width: 33.829787%; /* 318 / 940 */
	margin-right: 5.957446%; /* 56 / 940 */
	border: 1px solid #E9F1BE;
	float: left;
}

.brand-card .brand-info p {
	margin-top: 2.076923em; /* 27 / 13 */
}

.brand-card h2,
.brand-card .filters-panel {
	padding: 1em 1.914893%; /* 13 / 13, 18 / 940 */
}

.brand-card .filters-panel button {
	font-size: 1.230769em; /* 16 / 13 */
	height: 1.5625em; /* 25 / 16 */
	padding-right: 3.510638%; /* 33 / 940*/
	vertical-align: middle;
	cursor: pointer;
	text-decoration: underline;
}

.brand-card .filters-panel button.selected {
	color: #8AA108;
	text-decoration: none;
}

.brand-card .search-input {
	height: 1.923076em; /* 25 / 13 */
	width: 31.914893%; /* 300 / 940 */
	padding-left: 0.425531%; /* 4 / 940 */
	margin-left: 1.914893%; /* 18 / 940 */
}

.products-grid .product-buy-button {
	width: 100%;
	max-width: 130px;
	min-width: 85px;
	height: 2.153846em; /* 28 / 13 */
	color: #869804;
	border: 2px solid #8AA108;
	border-radius: 1.076923em; /* height / 2 */
	white-space: nowrap;
	cursor: pointer;
}

.products-grid .product-buy-button img {
	padding-right: 0.846153em; /* 11 / 13 */
}

.products-grid .product-buy-button img,
.products-grid .product-buy-button span {
	height: 1.384615em; /* 18 / 13 */
	vertical-align: middle;
}
/* /Brand card */

/* Articles page */
.articles-page {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	margin: 0 auto;
	background: white;
}

.articles-page .article-container {
	width: 100%;
	height: 7.230769em; /* 1.230769(h2) * 1.5 + 4 * 1.5 */
	overflow: hidden;
	margin: 3.076923em 0; /* 40 / 13 */
}

.articles-page .article-container img {
	width: 10.638297%; /* 100 / 950 */
	max-height: 100%;
	margin-right: 0.541914%; /* 5 / 940 */
	float: left;
}
/* /Articles page */

/* Brand card */
.article-card {
	padding: 1.923076em 7.272727%; /* 25 / 13, 80 / 1100 */
	background: white;
	overflow: auto;
}

.article-card .article-text-wrapper {
	margin: 0 auto;
	max-width: 1000px;
	line-height: 1.5em;
}

.article-card .article-text-wrapper img {
	width: 33.829787%; /* 318 / 940 */
	margin-right: 5.957446%; /* 56 / 940 */
	border: 1px solid #E9F1BE;
	float: left;
}

.article-card .article-text-wrapper p {
	margin-top: 2.076923em; /* 27 / 13 */
}
/* /Brand card */