<button class='add-record-button' ui-sref='newProduct'>
    Добавить товар
</button>

Поиск <input id="grid-filter-input" ng-model='searchFilter' ng-keyup="onFilterInputKeyUp()"/>
<table id="AdminProductList" class="list">
    <tr ng-repeat="product in products">
        <td ng-click="openProductForm(product.getId())">
            <img class="main-image" ng-src="{{utils.getProductImageUrl(product)}}" ng-click="openProductCard(product.getId())">
        </td>
        <td ng-click="openProductForm(product.getId())" class="product-name">
            {{product.name}}
        </td>
        <td>
            {{utils.getProductCapacityText(product)}} {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}<br/>
            {{utils.getProductPricesText(product)}} р
        </td>
        <td>
            <span class="main-sprite-icon edit-icon" ng-click="openProductForm(product.getId())"></span>
        </td>
        <td>
            <span class="main-sprite-icon delete-icon" ng-click="tryDeleteProduct(product.getId())"></span>
        </td>
    </tr>
</table>