<div ng-controller="ButtonFilterFormController" class="edit-page">
    <button ng-click="back()">
        Назад
    </button>

    <div class="form-group">
        <label class="col-sm-2 control-label">Фильтры</label>

        <div class="col-sm-10">
            <div class="filter-info-container">
                <span>Имя группы фильтров</span>
                <input type="text"
                       class="form-control"
                       ng-model="buttonFilter.name">
                <br>
                <label>Группа фильтров активна</label>
                <input type="checkbox" ng-model="buttonFilter.isActive">
                <br>

                <div class="filter-container" ng-repeat="filter in buttonFilter.filters">
                    <span>Имя фильтра</span>
                    <input type="text"
                           class="form-control"
                           ng-model="filter.name">
                    <span>ID фильтра (будет в ссылке)</span>
                    <input type="text"
                           class="form-control"
                           ng-model="filter.id">
                    <label>Фильтр активен</label>
                    <input type="checkbox" ng-model="filter.isActive">

                    <div class="filter-properties-container">
                        <span>Типы</span>

                        <div ng-repeat="productType in filter.productTypes track by $index"
                             class="inputs-wrapper">
                            <select ng-model="filter.productTypes[$index]"
                                    ng-options="key as value for (key, value) in stringResources.productTypes">
                            </select>
                            <span class="main-sprite-icon remove-icon"
                                  ng-click="deleteProductType(filter, productType)"></span>
                        </div>
                        <button ng-click="addProductType(filter)">
                            Добавить тип
                        </button>
                        <br>

                        <span>Свойства</span>

                        <div ng-repeat="property in filter.properties track by $index" class="inputs-wrapper">
                            <select
                                    ng-model="filter.properties[$index]"
                                    ng-options="key as value for (key, value) in stringResources.productProperties">
                            </select>
                            <span class="main-sprite-icon remove-icon"
                                  ng-click="deleteProperty(filter, property)"></span>
                        </div>
                        <button ng-click="addProperty(filter)">
                            Добавить свойство
                        </button>
                    </div>
                    <span class="toggle-text-visibility-button" ng-click="onAdvancedSettingsButtonClick(filter)">
                        {{filter.advancedSettingsVisible ? 'Скрыть расширенные настройки' :'Показать расширенные настройки';}}
                    </span>
                    <br>

                    <div ng-show="filter.advancedSettingsVisible">
                        <span>SEO Title</span>
                        <input type="text"
                               class="form-control"
                               ng-model="filter.seoData.title">
                        <span>SEO Description</span>
                        <input type="text"
                               class="form-control"
                               ng-model="filter.seoData.description">
                        <span>SEO Keywords</span>
                        <input type="text"
                               class="form-control"
                               ng-model="filter.seoData.keywords">
                        <text-angular ng-model="filter.pageText"></text-angular>
                    </div>
                    <button ng-click="deleteFilter(filter)">
                        Удалить фильтр
                    </button>
                </div>

                <button ng-click="addFilter()">
                    Добавить фильтр
                </button>
            </div>
        </div>

        <button type="submit" ng-click="submitButtonFilter()">
            Сохранить
        </button>
    </div>
</div>
