<div ng-controller="OrderFormController" uploader="uploader" class="edit-page">
    <button ng-click="back()">
        Назад
    </button>

    <h1>Заказ №{{order.orderIndex}}</h1>
    <p>Статус заказа
        <select
            ng-model="order.status"
            ng-options="key as value for (key, value) in stringResources.orderStatus">
        </select>
    </p>
    <br>
    <b>Информация о клиенте:</b>
    <div class="order-customer-info">
        <p>
            <b>Имя: </b>{{customerInfo.name}}<br>
            <b>Email: </b>{{customerInfo.email}}<br>
            <b>Телефон: </b>{{order.customerInfo.phone}}<br>
            <b>Купон на скидку: </b>{{customerInfo.promocode}}<br>
            <b>Тип доставки: </b>{{stringResources.deliveryTypes[customerInfo.deliveryType]}}<br>
            <b>Адрес: </b>{{order.fullAddress}}<br>
            <b>Комментарий: </b>{{customerInfo.description}}<br>
        </p>
    </div>
    <br>

    <div ng-include src="'/partials/cartproductlist.html'"></div>


    <button type="submit" ng-click="submitOrder()">
        Сохранить
    </button>
</div>
