<div ng-controller="ProductFormController" uploader="uploader" class="edit-page">
    <button class="back-button" ng-click="back()">
        Назад
    </button>

    <img class="main-image" ng-src="{{utils.getProductImageUrl(product)}}">
    <input class="upload-input" type="file" nv-file-select="" uploader="uploader"/>

    <div class="form-group">
        <label class="col-sm-2 control-label">Название продукции</label>

        <div class="col-sm-10">
            <input type="text"
                   ng-model="product.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Емкость\цена</label>

        <div class="col-sm-10">
            <div class="inputs-wrapper" ng-repeat="capacityInfo in product.capacityList">
                                    <span class="main-sprite-icon remove-icon"
                                          ng-hide="product.capacityList.indexOf(capacityInfo) == 0"
                                          ng-click="deleteCapacityInfo(capacityInfo)"></span>
                <input type="text"
                       class="half-width-input"
                       value="capacityInfo.capacity"
                       ng-model="capacityInfo.capacity">
                <input type="text"
                       class="half-width-input"
                       value="capacityInfo.price"
                       ng-model="capacityInfo.price">

            </div>
            <button ng-click="addCapacity()">
                Добавить ёмкость
            </button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Единица измерения ёмкости</label>

        <div class="col-sm-10">
            <select ng-model="product.capacityUnit"
                    ng-options="key as value for (key, value) in stringResources.productCapacityUnitTypes">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Бренд</label>

        <div class="col-sm-10">
            <select ng-model="product.brand"
                    ng-options="brand.name as brand.name for brand in brands">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Тип</label>

        <div class="col-sm-10">
            <select ng-model="product.type"
                    ng-options="key as value for (key, value) in stringResources.productTypes">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Свойства</label>

        <div class="col-sm-10">
            <div ng-repeat="property in product.properties track by $index" class="inputs-wrapper">
                <select ng-model="product.properties[$index]"
                        ng-options="type.value as type.label for type in stringResources.productProperties">
                </select>
                <span class="main-sprite-icon delete-button"
                      ng-click="deleteArrayMember(product.properties, $index)"></span>
            </div>
            <button ng-click="addMemberToArray(product.properties)">
                Добавить свойство
            </button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Скидка</label>

        <div class="col-sm-10">
            <input type="text"
                   ng-model="product.discount">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Хит продаж</label>

        <div class="col-sm-10">
            <input type="checkbox" ng-model="product.isBestseller">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Количество на складе</label>

        <div class="col-sm-10">
            <input type="text"
                   ng-model="product.stockCount">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Количество заказов</label>

        <div class="col-sm-10">
            <input type="text"
                   ng-model="product.orderCount">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Описание</label>

        <div class="col-sm-10">
                <textarea rows="5"
                          ng-model="product.description">
                </textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Дополнительная инфромация</label>

        <div class="col-sm-10">
                <textarea rows="3"
                          ng-model="product.additionalInfo">
                </textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Товар есть в наличии (будет показываться в магазине)</label>

        <div class="col-sm-10">
            <input type="checkbox" ng-model="product.isActive">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">С этим покупают</label>

        <div class="col-sm-10">
            <div ng-repeat="boughtTogetherProductId in product.boughtTogetherProductIds track by $index"
                 class="inputs-wrapper">
                <ui-select ng-model="product.boughtTogetherProductIds[$index]">
                    <ui-select-match>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="item._id as item in fullProductsList | filter:$select.search track by $index">
                        {{item.name}}
                    </ui-select-choices>
                </ui-select>
                    <span class="main-sprite-icon remove-icon"
                          ng-click="deleteArrayMember(product.boughtTogetherProductIds, $index)"></span>
            </div>
            <button
                 ng-click="addMemberToArray(product.boughtTogetherProductIds)">
                Добавить продукт
            </button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Отзывы</label>

        <div class="col-sm-10">
            <div class="review-wrapper" ng-repeat="review in product.reviews track by $index">
                <input type="text"
                       ng-model="review.customerName">
                <textarea rows="5"
                          ng-model="review.text">
                </textarea>
                <button ng-click="deleteArrayMember(product.reviews, $index)">
                    Удалить отзыв
                </button>
            </div>
        </div>
    </div>

    <button type="submit" ng-click="submitProduct()">
        Сохранить
    </button>
</div>
