<div ng-controller="PromocodesController">
    <div class="btn btn-default back-button" ng-click="back()">
        <span class="icon"></span>
        Назад
    </div>

    <div class="form-inline">
        <div class="form-group">
            <label for="PromocodeCode">Промокод:</label>
            <input type="text" class="form-control" id="PromocodeCode" ng-model="promocode.code">
        </div>
        <div class="form-group">
            <label for="PromocodeDate">Действителен до:</label>
            <input type="date" class="form-control" id="PromocodeDate" ng-model="promocode.date">
        </div>
        <button class="btn btn-default" ng-click="submitPromocode()">Submit</button>
    </div>

    <table class="admin-order-list">
        <tr>
            <th>Код</th>
            <th>Дата</th>
        </tr>
        <tr ng-repeat="promocode in promocodes">
            <td>
                {{promocode.code}}
            </td>
            <td>
                {{promocode.date.split('T')[0]}}
            </td>
            <td>
                <span class="main-sprite-icon delete-icon" ng-click="tryDeletePromocode(promocode._id)"></span>
            </td>
        </tr>
    </table>
</div>