<div ng-controller="PromocodesController">
    <div class="form-inline">
        <div class="form-group">
            <label>Промокод:</label>
            <input type="text" class="form-control" ng-model="promocode.code">
        </div>
        <div class="form-group">
            <label>Действителен до:</label>
            <input type="date" class="form-control" ng-model="promocode.date">
        </div>
        <div class="form-group">
            <label>Скидка</label>
            <input type="number" class="form-control" ng-model="promocode.discount">
        </div>
        <div class="form-group">
            <label>Бренд</label>
            <select class="form-control" ng-model="promocode.brandId"
                    ng-options="brand._id as brand.name for brand in brands">
            </select>
        </div>
        <div class="form-group">
            <label>Тип продукта</label>

            <select class="form-control" ng-model="promocode.productType"
                    ng-options="key as value for (key, value) in stringResources.productTypes">
            </select>
        </div>

        <button ng-click="submitPromocode()">Создать промокод</button>
    </div>
    <br>
    <table class="list">
        <tr>
            <th>Код</th>
            <th>Дата</th>
            <th>Скидка</th>
            <th>Бренд</th>
            <th>Тип продукта</th>
        </tr>
        <tr ng-repeat="promocode in promocodes">
            <td>
                {{promocode.code}}
            </td>
            <td>
                {{promocode.date.split('T')[0]}}
            </td>
            <td>
                {{promocode.discount}}
            </td>
            <td>
                {{getBrandName(promocode.brandId)}}
            </td>
            <td>
                {{stringResources.productTypes[promocode.productType]}}
            </td>
            <td>
                <span class="main-sprite-icon delete-icon" ng-click="tryDeletePromocode(promocode._id)"></span>
            </td>
        </tr>
    </table>
</div>