extends index.pug

block maincontent
    .brand-card
      .brand-info
        img(src= '/resources/images/brands/' + brand.imageName ng-src='{{utils.getBrandImageUrl(brand)}}')
        h1= brand.name
        p(ng-bind-html='brand.description')!= brand.description
      h2 Продукты
      .filters-panel
        each category in Object.keys(productCategories)
          button.category-filter-button(ng-repeat='(key, value) in categories', ng-class='{selected: typeFilter == key}', ng-click='onFilterButtonClick(key)')= stringResources.productTypes[category] + ' (' + productCategories[category] + ')'
      input.search-input(ng-model='searchFilter', placeholder='Поиск')
      include ./productlist.pug
