extends index.pug

block title
  = 'Список брендов'

block maincontent
  .brands-page
    h1 Бренды
    for brand in brands
      .brand-container(ng-repeat='brand in brands')
        a(href=  '/#!/brands/' + brand.name + '/')
          h2= brand.name
          img(src= '/resources/images/brands/' + brand.imageName ng-src='{{utils.getBrandImageUrl(brand)}}')
