extends mainproductlist.pug

block content1
  .carousel-wrapper
    ul.image.carousel(rn-carousel='', rn-carousel-index='carouselIndex', rn-carousel-controls-allow-loop='', rn-carousel-buffered='', rn-carousel-controls='', rn-carousel-auto-slide='5', rn-carousel-pause-on-hover='')
      li(ng-repeat='image in carouselImages')
        img(ng-src='{{image}}')
  ul.advantages-panel
    li
      img.cart-image(src='/resources/images/icons/car.png')
      p
        b Бесплатная доставка
        br
        |                 по РФ от 2500 руб.
    li
      img.cart-image(src='/resources/images/icons/wallet.png')
      p
        b Без суммы
        br
        |                 минимального заказа
    li
      img.cart-image(src='/resources/images/icons/wheelbarrow.png')
      p
        b Быстрая отгрузка
        br
        |                 вашего заказа
    li
      img.cart-image(src='/resources/images/icons/certificate.png')
      p
        b Гарантия качества
        br
        |                 всех товаров


block content2
  .main-text
    h1
      | Магазин натуральной косметики
      span.green-text GOOD
      | SOAP
    p
      img(src='/resources/images/maintext.png')
      | Быть красивой с GOODSOAP - очень просто!
      br
      br
      |             Выбирайте продукты для лица, волос и тела из нашего каталога, добавляйте их в корзину и не забудьте оставить
      |             контактные данные. Об остальном позаботимся мы! В Туле действует бесплатная доставка при заказе от 1000 рублей,
      |             по России – от 2500 рублей.
