block title
  | Карта сайта

h1 Карта сайта
h2 Продукты
each product in productsData
  a(href=  '/?_escaped_fragment_=/products/' + product._id + '/')= product.name
  <br>
h2 Блог
each article in acticlesData
  a(href=  '/?_escaped_fragment_=/articles/' + article._id + '/')= article.name
  <br>
h2 Бренды
each brand in brandsData
  a(href=  '/?_escaped_fragment_=/brands/' + brand._id + '/')= brand.name
  <br>
