block title
  | Карта сайта

h1 Карта сайта
h2 Продукты
each product in productsData
  a(href=  '/#!/products/' + (product.id || product._id) + '/')= product.name
  <br>
h2 Блог
each article in acticlesData
  a(href=  '/#!/articles/' + article._id + '/')= article.name
  <br>
h2 Бренды
each brand in brandsData
  a(href=  '/#!/brands/' + brand.name + '/')= brand.name
  <br>
