<div class="simple-page">
    <h1>GOODSOAP является официальным представителем бренда "Мастерская Олеси Мустаевой" в Туле.</h1>

    <p>"Мастерская располагается на территории Казанского Завода Мед Аппаратуры (КЗМА). Сегодня мы занимаем 160
        квадратовплощадей бывших лабораторий завода, расположенных на двух этажах 2-го корпуса. Из них часть уже
        переделана под
        нужды. А часть ремонтируется и переоборудуется под оборудование и требования для микро-производства. На
        сегодняшний
        день штат небольшого производства 12 человек. Основные отделы: цех изготовления и расфасовки, склад.
        Изготовлением
        занимается несколько человек, в том числе я и зав нашей мастерской. Более 98% сырья не изготавливается в России.
        К
        сожалению, большая часть компонентов отечественного производства и стран СНГ не соответствует стандартам Био,
        экосерт и прочих. Основные наши поставщики сырья - страны ЕС и Азия.
        Мастерская Олеси Мустаевой занимается изготовлением мыла на натуральном свежем козьем молоке или его продуктах,
        натуральных косметических средств, натуральными маслами ручного отжима. Мы не используем магазинного молока или
        сливок, порошкового белка или молока. Только свежее молоко!
        Масла омыляются вместе с молоком или его продуктами только при пониженных температурах. Мы не ускоряем омыления
        термической обработкой нашего мыла, что позволяет сохранить всю нежность, полезность молока, эфирных добавок и
        не
        допустить окисления ценных и термически неустойчивых масел, богатых полиненасыщенными кислотами.
        Для ароматизации мыла используются только натуральные эфирные масла. Для ароматов используются и готовые
        композиции
        эфиров и трав Востока, которые поставляются для нашего мыла с аромаферм и заводов Индии, Пакистана, Сирии."</p>

    <p>Олеся Мустаева</p>
</div>