<div class="simple-page delivery-page">
    <h1>Доставка</h1>

    <div class="left-info-container">
        <h2>По Туле</h2>
        при заказе от 1000 рублей<br>
        <span class="free-delivery-text">Доставка БЕСПЛАТНО</span><br>
        <br>
        При заказе на сумму менее 1000 руб.<br>
        <b>Пункты самовывоза:</b><br>
        - Проспект Ленина (ост. Гоголевская)<br>
        - Улица Токарева (Заречье)
    </div>
    <div class="right-info-container">
        <h2>По России</h2>
        При заказе от 2500 рублей<br>
        <span class="free-delivery-text">Доставка БЕСПЛАТНО</span><br>
        <br>
        При заказе на сумму менее 2500 руб.<br>
        <b>Стоимость доставки: 250р</b><br>
        Почтой России по предоплате (реквизиты высылаются после оформления заказа)
    </div>
</div>