<div class="simple-page delivery-page">
    <h1>Варианты и стоимость доставки</h1>

    <p>Оплата: наличными по факту получения заказа или безналичный перевод на карту Сбербанка (реквизиты высылаются
        после оформления заказа).</p>

    <div class="blocks-container">
        <div class="left-block">
            <h2>По Туле</h2>
            <p>
                При заказе от 1000 руб. <br/>
                <strong>Доставка БЕСПЛАТНО</strong>
            </p>
            <p>
                При заказе на сумму менее 1000 руб. <br/>
                <strong>Пункты самовывоза:</strong> <br/>
                -Проспект Ленина (ост. Гоголевская)<br/>
                -Улица Токарева (Заречье).
            </p>
        </div>
        <div class="right-block">
            <h2>По России</h2>
            <p>
                При заказе от 2500 руб. <br/>
                <strong>Доставка БЕСПЛАТНО</strong>
            </p>
            <p>
                При заказе на сумму менее 2500 руб. <br/>
                <strong>Стоимость доставки: 250р</strong> <br/>
                Почтой России по предоплате (реквизиты высылаются после оформления заказа).
            </p>
        </div>
    </div>

</div>