<div class="brand-card-container">
    <h2>{{brand.name}}</h2>

    <div class="brand-info">
        <img ng-src="{{utils.getBrandImageUrl(brand)}}">
        <div class="brand-description">{{brand.description}}</div>
    </div>
    <strong>Фильты:</strong>
    <div>
        <span class="category-filter-item" ng-repeat="(key, value) in categories"
              ng-class="{selected: typeFilter == key}" ng-click="onFilterButtonClick(key)">
            {{stringResources.productTypes[key] + '(' + value + ')'}}
        </span>
    </div>
    <strong>Поиск</strong> <input ng-model='searchFilter' />
    <table class="brand-product-grid" ng-show="brand.products.length">
        <tr ng-repeat="product in brand.products | filter: { $: searchFilter, type: typeFilter }">
            <td>
                <img ng-src="{{utils.getProductImageUrl(product)}}" ng-click="openProductCard(product._id)">
            </td>
            <td colspan="3" class="product-name">
                <a href='' ng-click="openProductCard(product._id)">{{product.name}}</a>
            </td>
            <td colspan="3" class="product-capacity">
                    <span ng-repeat="capacityInfo in product.capacityList"
                          ng-class="{ selected: capacityInfo == product.selectedCapacity }"
                          ng-click="selectProductCapacity(product, capacityInfo)">{{capacityInfo.capacity}}
                                    {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}</span>
            </td>
            <td class="number">
                <span>{{utils.getProductPrice(product, product.selectedCapacity)}}</span>
            </td>
            <td class="buy-button">
                <div class="product-buy-button" ng-click="onBuyProductButtonClick($event, product)">Купить</div>
            </td>
        </tr>
    </table>
</div>