<form class="cart-page" name="form"  novalidate ng-show="cartProducts.length">
    <h1>Оформить заказ</h1>
    <table ng-show="cartProducts.length" class="products-grid">
        <tr>
            <th colspan="3">Наименование</th>
            <th>Ёмкость</th>
            <th>Скидка</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        <tr ng-repeat="product in cartProducts track by $index">
            <td colspan="3" >
                <a ng-href="#!/products/{{product.id}}/">
                    <img ng-src="{{utils.getProductImageUrl(product)}}">
                </a>
                <a ng-href="#!/products/{{product.id}}/">{{product.name}}</a>
            </td>
            <td>
                <span>{{product.capacityInfo.capacity}} {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}</span>
            </td>
            <td>
                <span>{{product.discount}}%</span>
            </td>
            <td>
                <span>{{utils.getProductPrice(product, product.capacityInfo)}}</span>
            </td>
            <td>
                <input type="number" name="input" ng-model="product.count" min="1" max="99"
                       ng-class="{invalid: !utils.isProductCountAvailable(product, product.count)}"
                       ng-attr-title="{{utils.isProductCountAvailable(product, product.count) ? '' :
                        stringResources.validationMessages.wrongProductCountTitle}}">
            </td>
            <td class="total-price">
                <span>{{utils.getProductPrice(product, product.capacityInfo, product.count)}}</span>
                <button class="delete-button"
                      ng-click="removeProductFromCard($index)"></button>
            </td>
        </tr>
        <tr ng-class="{invisible : !getDeliveryCost()}">
            <td colspan="3">Стоимость доставки</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{getDeliveryCost()}} руб.</td>
        </tr>
        <tr>
            <td colspan="3"><b>Общая стоимость</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{getTotalCost()}} руб.</td>
        </tr>
    </table>
    <div class="left-order-container">
        <h2>Введите ваши контактные данные</h2>
        <input placeholder="Имя и фамилия" ng-model="customerInfo.name">
        <input placeholder="Номер телефона *" ng-model="customerInfo.phone" title="поле обязательно для заполнения" required>
        <input placeholder="Электронная почта *"ng-model="customerInfo.email" title="поле обязательно для заполнения" required>
        <input placeholder="Полный адрес" ng-model="customerInfo.fullAddress">
        <input placeholder="Код на скидку" ng-model="customerInfo.promocode" ng-keyup="onPromocodeInputKeyUp()">
        <span ng-class="promocodeTooltipInfo.isAvailable ? 'valid' : 'invalid'">{{promocodeTooltipInfo.text}}</span>
        <textarea placeholder="Комментарий к заказу" ng-model="customerInfo.description"></textarea>
    </div>
    <div class="right-order-container">
        <h2>Доставка</h2>
        <label for="selfRadio" ng-class="{selected: customerInfo.deliveryType === 'self'}">
            <input type="radio" ng-model="customerInfo.deliveryType" value="self" id="selfRadio" ng-model="customerInfo.deliveryType">
            <p>
                <b>Тула</b><br><br>
                <b>Пункты вывоза:</b><br><br>
                - Проспект Ленина (ост. Гоголевская)<br>
                - Улица Токарева (Заречье)<br>
            </p>
        </label>
        <label for="deliveryRadio" ng-class="{selected: customerInfo.deliveryType === 'delivery'}">
            <input type="radio" ng-model="customerInfo.deliveryType" value="delivery" id="deliveryRadio" ng-model="customerInfo.deliveryType">
            <p>
                <b>По России</b><br><br>
                Стоимость доставки 250 руб. <b>Бесплатно</b> при заказе от 2500р.<br>
                <span ng-show="!!getDeliveryCost()">Добавьте продуктов на сумму {{2500 - getProductsCost()}} руб. и доставка будет за наш счет.</span>
            </p>
        </label>
    </div>
    <button class="submit-button" ng-disabled="form.$invalid" ng-click="sendOrder()">
        Заказать
    </button>
</form>
<p class="no-products-in-cart-text" ng-show="!cartProducts.length">В вашей корзине нет добавленных товаров, пожалуйста выберите товары для заказа из <a href="#!/products">списка</a></p>