    <table ng-show="cartProducts.length" class="products-grid list">
        <tr>
            <th colspan="3">Наименование</th>
            <th>Ёмкость</th>
            <th>Скидка</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        <tr ng-repeat="product in cartProducts track by $index">
            <td colspan="3" >
                <a ng-href="/#!/products/{{product.id}}/">
                    <img class="main-image" ng-src="{{utils.getProductImageUrl(product)}}">
                </a>
                <a ng-href="/#!/products/{{product.id}}/">{{product.name}}</a>
            </td>
            <td>
                <span>{{product.capacityInfo.capacity}} {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}</span>
            </td>
            <td>
                <span ng-show="product.discount">{{product.discount}}%</span>
            </td>
            <td>
                <span>{{utils.getProductPrice(product, product.capacityInfo, 1)}}</span>
            </td>
            <td>
                <input type="number" name="input" ng-model="product.count" min="1" ng-show="!readOnlyProductList">
                <span ng-show="readOnlyProductList">{{product.count}}</span>
            </td>
            <td class="total-price">
                <span>{{utils.getProductPrice(product, product.capacityInfo, product.count, false, true)}}</span>
                <button class="delete-button"
                      ng-click="removeProductFromCard($index)" ng-show="!readOnlyProductList"></button>
            </td>
        </tr>
        <tr ng-class="{invisible : !utils.getDeliveryCost(cartProducts, promocodeInfo, customerInfo.deliveryType)}">
            <td colspan="3">Стоимость доставки</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{utils.getDeliveryCost(cartProducts, promocodeInfo, customerInfo.deliveryType)}} руб.</td>
        </tr>
        <tr>
            <td colspan="3"><b>Общая стоимость</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{utils.getTotalCost(cartProducts, promocodeInfo, customerInfo.deliveryType)}}</td>
        </tr>
    </table>