    <div class="carousel-wrapper">
        <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls-allow-loop rn-carousel-buffered
            rn-carousel-controls rn-carousel-auto-slide="5" rn-carousel-pause-on-hover
            class="image carousel">
            <li ng-repeat="image in carouselImages">
                <a href="/#/!/products?buttonFilter=%7B%22isActive%22:true,%22name%22:%22%D0%94%D0%BB%D1%8F%20%D0%BF%D0%BE%D0%BB%D0%BE%D1%81%D1%82%D0%B8%20%D1%80%D1%82%D0%B0%22,%22_id%22:%2257fa7ca08f3c5fea38e8e142%22,%22properties%22:%5B%22face%22%5D,%22productTypes%22:%5B%22oral%22%5D%7D">
                    <img ng-src="{{image}}"/>
                </a>
            </li>
        </ul>
    </div>

    <ul class="advantages-panel">
        <li>
            <img src="/resources/images/icons/car.png" class="cart-image">
            <p>
                <b>Бесплатная доставка</b><br>
                по РФ от 2500 руб.
            </p>
        </li>
        <li>
            <img src="/resources/images/icons/wallet.png" class="cart-image">
            <p>
                <b>Без суммы</b><br>
                минимального заказа
            </p>
        </li>
        <li>
            <img src="/resources/images/icons/wheelbarrow.png" class="cart-image">
            <p>
                <b>Быстрая отгрузка</b><br>
                вашего заказа
            </p>
        </li>
        <li>
            <img src="/resources/images/icons/certificate.png" class="cart-image">
            <p>
                <b>Гарантия качества</b><br>
                всех товаров
            </p>
        </li>
    </ul>

    <div ng-include src="'/partials/mainproductlist.html'"></div>

    <div class="main-text">
        <h1>Добро пожаловать в магазин натуральной косметики <span class="green-text">GOOD</span>SOAP!</h1>

        <p>
            <img src="/resources/images/maintext.png">
            GOODSOAP - это интернет-магазин натуральной и органической косметики проверенных торговых марок. Мы
            позаботились о том, чтобы сделать уход за собой простым, эффективным и безопасным. Для своих клиентов
            выбираем только те продукты, которые используем сами и в качестве которых у нас нет причин сомневаться. Мы
            протестировали и отобрали для вас наилучшие составы, которые прекрасно комбинируются друг с другом и
            позволяют достигать желаемых результатов без лишних усилий и неоправданных затрат. Но основным критерием
            выбора для нас всегда будет качество косметического продукта: безопасность сырья, отсутствие тяжелых
            компонентов, действенные рецепты и эффективные композиции натуральных элементов.
        </p>
        <p>В каталоге GOODSOAP - только проверенные средства из экологически безопасных ингредиентов:</p>
        <ul>
            <li>шампуни на мягких ПАВ (без SLS/SLES)</li>
            <li>средства для волос без силиконов</li>
            <li>мыло ручной работы на свежем козьем молоке</li>
            <li>кремы без минеральных масел</li>
            <li>деликатные средства для умывания</li>
            <li>органические тонирующие средства</li>
            <li>натуральные дезодоранты</li>
            <li>фито- и арома-составы для ванн</li>
            <li>мицеллярные и цветочные воды</li>
            <li>100% натуральные окрашивающие составы на основе хны
            <li>эфирные и базовые масла</li>
            <li>декоративная косметика</li>
            <li>бытовая НЕхимия</li>
        </ul>

        <p>
            Высочайшее качество и абсолютную безопасность косметических продуктов гарантируют наши поставщики -
            российские и международные компании-производители натуральной /органической косметики: Мастерская Олеси
            Мустаевой (Россия), Weleda (Швейцария), Mi&Ko (Россия), DeoNat (Таиланд), Jurassic Spa (Россия),
            OZ!OrganicZone (Россия) и другие.
            Быть красивой с GOODSOAP - очень просто!
        </p>
    </div>