<div class="products-container">
    <div ng-repeat="product in products track by $index" class="product-container"
         ng-class="{bestseller: product.isBestseller}">
        <img ng-src="{{utils.getProductImageUrl(product)}}" ng-click="openProductCard(product._id)">
        <a class="product-name" ng-click="openProductCard(product._id)">{{product.name}}</a>
        <div class="product-price"><b>{{utils.getProductPrice(product, product.selectedCapacity)}}</b></div>
        <ul class="product-capacity">
            <li ng-repeat="capacityInfo in product.capacityList">
                <button ng-class="{ selected: capacityInfo == product.selectedCapacity }"
                        ng-click="selectProductCapacity(product, capacityInfo)">{{capacityInfo.capacity}} мл
                </button>
            </li>
        </ul>
        <div class="product-buy-button-container" ng-click="onBuyProductButtonClick($event, product)">
            <button ng-click="onBuyProductButtonClick($event, product)">
                <img src="/resources/images/icons/cart.png"><span>Купить</span>
            </button>
        </div>
    </div>
</div>
