<div class="main-list">
    <div class="toolbar">
        <div class="filter-buttons">
            <div class="dropdown" ng-repeat="buttonFilter in filterButtonsData track by $index" ng-click="onButtonFilterMainButtonClick(buttonFilter._id)">
                <button class="btn btn-default dropdown-toggle" type="button"
                        ng-attr-id="{{'mainListFilterButton' + $index}}" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{buttonFilter.name}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" ng-attr-aria-labelledby="{{'mainListFilterButton' + $index}}">
                    <li ng-repeat="filter in buttonFilter.filters"
                        ng-class="{ selected: filter == buttonFilter }"
                        ng-click="onFilterButtonClick(filter)">
                        <a href="#">{{filter.name}}</a></li>
                </ul>
            </div>
        </div>

        <span class="main-sprite-icon card-view-icon" ng-class="{ selected: isCardView }"
              ng-click="changeView(true)"></span>
        <span class="main-sprite-icon list-view-icon" ng-class="{ selected: !isCardView }"
              ng-click="changeView(false)"></span>
        <input id="grid-filter-input" ng-model='searchFilter' ng-keyup="onFilterInputKeyUp()"/>
    </div>
    <div ng-class="isCardView ? 'card-view' : 'list-view'" class="main-container" id="MainContainer">
        <div ng-repeat="product in products" class="product-container">
            <img ng-src="{{utils.getProductImageUrl(product)}}" ng-click="openProductCard(product._id)">

            <div class="text-container">
                <div class="product-name" ng-click="openProductCard(product)._id">{{product.name}}</div>
                <div class="product-brand" ng-click="onBrandNameClick()">{{product.brand}}</div>
                <div class="product-price">{{product.selectedCapacity.price}}Р</div>
                <div class="product-capacity">
                    <span ng-repeat="capacityInfo in product.capacityList"
                          ng-class="{ selected: capacityInfo == product.selectedCapacity }"
                          ng-click="selectProductCapacity(product, capacityInfo)">{{capacityInfo.capacity}} мл</span>
                </div>
                <!--<div class="product-capacity">{{utils.getProductCapacityText(product)}}</div>-->
                <div class="product-description" ng-show="!isCardView">{{product.description}}</div>
                <div class="product-buy-button" ng-click="addProductToCart(product)">Купить</div>
            </div>
        </div>
    </div>
</div>
