    <div class="product-card">
        <img src="{{utils.getProductImageUrl(product, true)}}">

        <h1>{{product.name}}</h1>

        <div class="control-panel">
            <b>{{utils.getProductPrice(product, product.selectedCapacity, 1, false, true)}}</b>
            <select
                    ng-model="product.selectedCapacity"
                    ng-options="entry as entry.capacity for entry in product.capacityList">
            </select>
            {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}
            <input type="number" name="input" ng-model="orderCount" min="1">
            шт.
            <button class="product-buy-button" ng-click="onBuyProductButtonClick($event, product)" ng-show="product.isActive">
                <img src="/resources/images/icons/cart.png" class="cart-image">
                <span>Купить</span>
            </button>
            <span ng-show="!product.isActive" class="not-active-label">Нет в наличии</span>

        </div>
        <span class="old-price" ng-show="product.discount">{{utils.getProductPrice(product, product.selectedCapacity, 1)}}</span><br>
        <ul class="tab-control">
            <li ng-class="{selected: selectedTabName == 'description'}" ng-click="onTabClick('description')">
                Описание
            </li>
            <li ng-class="{selected: selectedTabName == 'use'}" ng-click="onTabClick('use')">
                Применение
            </li>
            <li ng-class="{selected: selectedTabName == 'ingredients'}" ng-click="onTabClick('ingredients')">
                Ингредиенты
            </li>
        </ul>
        <p class="content" ng-hide="selectedTabName !== 'description'" ng-bind-html="product.description">
        </p>
        <p class="content" ng-hide="selectedTabName !== 'use'" ng-bind-html="product.use">
        </p>
        <p class="content"ng-hide="selectedTabName !== 'ingredients'" ng-bind-html="product.ingredients">
        </p>
        <div class="reviews-container">
            <h2>Отзывы</h2>
            <p class="review" ng-repeat="review in product.reviews">
                <b>{{review.customerName}}</b><br>
                <br>
                {{review.text}}
            </p>
        </div>
        <div ng-show="reviewsAllowed" class="send-review-container">
            <h3>Оставить отзыв</h3>
            <input name="name" type=text" ng-model="review.customerName" placeholder="Ваше имя">
            <input name="name" type=text" ng-model="review.customerEmail" placeholder="Ваше Email *">
            <textarea rows="4" ng-model="review.text" placeholder="Ваш отзыв"></textarea>

            <button ng-disabled="!utils.validateEmail(review.customerEmail)" ng-click="onSendReviewButtonClick()">
                Отправить отзыв
            </button>
        </div>
        <p ng-show="!reviewsAllowed" class="no-send-review-message">
            Вы уже оставляли отзыв к этому товару, повторно оставить отзыв можно будет не ранее, чем через сутки.
        </p>
    </div>
    <h2 class="bought-together-header" ng-show="products.length">С этим товаром покупают</h2>
    <div ng-controller="MainProductListController" ng-include src="'/partials/mainproductlist.html'"
         ng-init="hideFilterControls=true;" class="bought-together-container" ng-show="products.length">
    </div>