    <div class="product-card">
        <img src="{{utils.getProductImageUrl(product)}}">

        <h1>{{product.name}}</h1>

        <div class="control-panel">
            <b>{{utils.getProductPrice(product, product.selectedCapacity, 1, false, true)}}</b>
            <select
                    ng-model="product.selectedCapacity"
                    ng-options="entry as entry.capacity for entry in product.capacityList">
            </select>
            {{stringResources.productCapacityUnitTypes[product.capacityUnit]}}
            <input type="number" name="input" ng-model="orderCount" min="1" max="99"
                   ng-class="{invalid: !utils.isProductCountAvailable(product, orderCount)}"
                   ng-attr-title="{{utils.isProductCountAvailable(product, orderCount) ? '' :
                        stringResources.validationMessages.wrongProductCountTitle}}">
            шт.
            <button class="product-buy-button" ng-click="onBuyProductButtonClick($event, product)">
                <img src="/resources/images/icons/cart.png" class="cart-image">
                <span>Купить</span>
            </button>

        </div>
        <span class="old-price" ng-show="product.discount">{{utils.getProductPrice(product, product.selectedCapacity, 1)}}</span><br>
        <ul class="tab-control">
            <li ng-class="{selected: selectedTabName == 'description'}" ng-click="onTabClick('description')">
                Описание
            </li>
            <li ng-class="{selected: selectedTabName == 'use'}" ng-click="onTabClick('use')">
                Применение
            </li>
            <li ng-class="{selected: selectedTabName == 'ingredients'}" ng-click="onTabClick('ingredients')">
                Ингредиенты
            </li>
            <li ng-class="{selected: selectedTabName == 'reviews'}" ng-click="onTabClick('reviews')">
                Отзывы
            </li>
        </ul>
        <p ng-hide="selectedTabName !== 'description'" ng-bind-html="product.description">
        </p>
        <p ng-hide="selectedTabName !== 'use'" ng-bind-html="product.use">
        </p>
        <p ng-hide="selectedTabName !== 'ingredients'" ng-bind-html="product.ingredients">
        </p>
    </div>